@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(6ab296ea2b6ea953.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  font-display: block;
  src: url(f4dca2c57cf809e4.ttf) format('truetype');
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(2e9f0fccac3e4024.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(4c51c2a49d1bd704.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 600;
  font-display: block;
  src: url(32e0ed70107262f4.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url(3d685c1b7bc3660a.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(b6f2cc8d9905e97b.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(26efb7fbad9540df.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(e53acf3eb590b2ff.ttf) format('truetype');
}
